// colors
// $accentColor = #3eaf7c
$accentColor = #8b80f9
$textColor = #606c76
$borderColor = #eaecef
$codeBgColor = #f4f5f6
$arrowBgColor = #ccc
$lightPurple = #f4f5f6

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py

@import '~@temp/override.styl'
